* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: background-color 0.5s ease-in-out, border-bottom 0.5s ease-in-out, border 0.5s ease-in-out;
  /* transition: border-bottom 0.5s ease-in-out; */
}

.App {
  text-align: center;
  background-image: url("../public/assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--body_background);
  overflow: hidden;
  font-family: 'Franklin', sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 110px);
  position: relative;
}

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: normal;
	src: url(../public/assets/fonts/product_sans_regular.ttf);
}
@font-face {
	font-family: 'Bubble';
	font-style: normal;
	font-weight: normal;
	src: url(../public/assets/fonts/Arista.ttf);
}
@font-face {
	font-family: 'Franklin';
	font-style: normal;
	font-weight: normal;
	src: url(../public/assets/fonts/Franklin.ttf);
}

button, 
input[type="button"], 
input[type="submit"] {
  -webkit-tap-highlight-color: transparent;
}