@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
    border-radius: 4px;
}

.shake-square {
    animation: shake 0.5s;
}

.rotate-cell {
    animation: rotate-cell 0.9s;
}

@keyframes shake {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rev-shake {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/* rotate Z  */
@keyframes rotate-cell {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
