@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    width: 100vw;
    height: 100vh;
    background: #0e0e0f;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    color:white
}


@layer components {
    .button{
        @apply bg-gray0 p-2 rounded-md border-b-[2px] border-gray-950 cursor-pointer
    }

    .button:hover{
        @apply bg-gray-800 
    }
    .button:active{
        @apply bg-gray-950  translate-y-px
    }
    .row{
        @apply text-white text-[32px] border-[3px] p-2 w-[62px] h-[62px] flex text-center items-center justify-center mx-1  rounded-lg
    }
}

