.wordle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;
	background-color: #f4f4f4;
	overflow: auto;
}

.wordle.dark_mode {
	background-color: var(--dark-mode-bg);
}

main {
	max-width: var(--active-area-width);
	width: 100%;
	padding: 40px 0;
	flex: 1;
}

.fade-in {
	opacity: 0;
	transition: opacity 0.7s ease-in-out;
}
  
.fade-in.visible {
	opacity: 1;
}
