.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.keyboardContainer {
  display: flex;
  background: var(--keyboard_background);
  padding: 1rem;
  border-radius: 0 0 30px 30px;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -4px 3px rgba(0, 0, 0, 0.05);
}

.firstRow,
.secondRow,
.thirdRow,
.lastRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  user-select: none;
}

.lastRow {
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: var(--keyboard_header);
  padding: 0.5rem;
  border-radius: 30px 30px 0 0;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(29px, 5vw, 43px);
  height: clamp(29px, 5vw, 43px);
  border-radius: 42px;
  cursor: pointer;
  background-color: var(--background);
  box-shadow: inset 0px -4px 3px rgba(0, 0, 0, 0.07);
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: clamp(1rem, 1vw, 1.1rem);
}

.enterKey,
.eraseKey {
  width: clamp(40px, 5vw, 50px);
  height: clamp(29px, 5vw, 43px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px -4px 3px rgba(0, 0, 0, 0.07);
  gap: 0.5rem;
}

.enterKey img,
.eraseKey img {
  width: clamp(20px, 1vw, 20px);
  height: clamp(20px, 1vw, 20px);
}

.enterKey h1,
.ideaKey h1,
.clearKey h1 {
  font-size: clamp(0.8rem, 1vw, 1.125rem);
}

.enterKey:active,
.letter:active,
.ideaKey:active,
.clearKey:active,
.eraseKey:active {
  transform: scale(0.97) !important;
}

.eraseKey,
.enterKey {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}

.clearKey {
  width: clamp(100px, 1vw, 100px);
  height: clamp(38px, 10vw, 45px);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  gap: 0.5rem;
  border-radius: 30px;
}

.ideaKey {
  width: clamp(100px, 1vw, 100px);
  height: clamp(38px, 10vw, 45px);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  font-weight: 600;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  gap: 0.5rem;
  border-radius: 30px;
}

.ideaKey img,
.clearKey img {
  width: clamp(20px, 1vw, 25px);
}

.scaleUpAnimation {
  animation: scaleUp var(--time) ease-in-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.arrow {
  width: clamp(20px, 5vw, 30px);
  height: clamp(20px, 5vw, 30px);
}

.eraseKey {
  margin-left: auto;
}
.enterKey {
  margin-right: auto;
}